<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="keywords" content="关键词,关键字">
    <meta name="description" content="描述信息">

<style>
    .search{
    text-align:center;
    font-size:30px;
    }
    .price{
    font-color:'#fff000';
    background:'#FF5b5b';
    }
</style>
</head>
<body>
<div class='search'>
<form method="post" action="/taobao">
    <p>淘宝搜索：<br><input type="text" name="kw" width='80px' height='20px' placeholder='请输入关键词'></p>
    <input type="submit" value='GO'>
</form>
</div>


{% for i in data %}
  <a href="{{ i['url'] }}">{{ i['title'] }}</a>--------￥{{ i[
  'price'] }}<br>
  {% end %}
</body>
